<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sto13141062.flickr_viewer" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".TopLocations"
            android:label="@string/title_activity_top_locations" >
        </activity>
        <activity
            android:name=".TopPhotographs"
            android:label="@string/title_activity_top_photographs" >
        </activity>
        <activity
            android:name=".SpecificLocationActivity"
            android:label="@string/title_activity_specific_location" >
        </activity>

        <service
            android:name=".FlickrService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
